<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>soul.netcheck.script</string> // 与文件名保持一致

    <key>ProgramArguments</key>
    <array>
			<string>/Users/a1021500519/soul-netcheck/netcheck.sh</string> // 替换为本机路径
    </array>

    // 日志输出路径
    <key>StandardOutPath</key>
    // <string>/Users/a1021500519/output.log</string>
    <string>/dev/null/<string>
    <key>StandardErrorPath</key>
    // <string>/Users/a1021500519/error.log</string>
    <string>/dev/null/<string>

    <key>RunAtLoad</key>
    <true />
  </dict>
</plist>
